<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xóa</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Xóa xe</h1>
<form action="" method="post" th:object="${car}">
    <h4>ID</h4>
    <p th:text="*{id}"></p>
    <h4>Tên</h4>
    <p th:text="*{name}"></p>
    <h4>Biển số</h4>
    <p th:text="*{code}"></p>
    <h4>Nhà sản xuất</h4>
    <p th:text="*{producer.name}"></p>
    <h4>Giá</h4>
    <p th:text="*{price}"></p>
    <h4>Kiểu xe</h4>
    <p th:text="*{type.name}"></p>
    <button>Xác nhận</button>
</form>
<button><a href="/cars">Trang chủ</a></button>
</body>
</html>