<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Thêm nhà sản xuất</h1>
<form action="" method="post" th:object="${type}">
    <h3>Tên kiểu xe</h3>
    <input type="text" th:field="*{name}" placeholder="Tên">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <button>Thêm</button>
</form>
<button><a href="/types">Trang chủ</a></button>
</body>
</html>