<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xóa</title>
</head>
<body>
<h1>Xóa nhà sản xuất</h1>
<form action="" method="post" th:object="${producer}">
    <h4>ID</h4>
    <p th:text="*{id}"></p>
    <h4>Tên</h4>
    <p th:text="*{name}"></p>
    <button>Xác nhận</button>
</form>
<button><a href="/producers">Danh sách nhà sản xuất</a></button>
</body>
</html>